<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GateCamera.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GateCamera.Properties.Settings>
            <setting name="Cam1" serializeAs="String">
                <value>192.168.41.71</value>
            </setting>
            <setting name="Cam2" serializeAs="String">
                <value>192.168.41.72</value>
            </setting>
            <setting name="Cam3" serializeAs="String">
                <value>192.168.41.73</value>
            </setting>
            <setting name="Cam4" serializeAs="String">
                <value>192.168.41.74</value>
            </setting>
            <setting name="Cam5" serializeAs="String">
                <value>192.168.41.75</value>
            </setting>
            <setting name="Cam6" serializeAs="String">
                <value>192.168.41.76</value>
            </setting>
            <setting name="Cam7" serializeAs="String">
                <value>192.168.41.77</value>
            </setting>
            <setting name="Cam8" serializeAs="String">
                <value>192.168.41.78</value>
            </setting>
            <setting name="Cam9" serializeAs="String">
                <value>192.168.41.79</value>
            </setting>
            <setting name="Cam10" serializeAs="String">
                <value>192.168.41.80</value>
            </setting>
            <setting name="Cam11" serializeAs="String">
                <value>192.168.41.108</value>
            </setting>
            <setting name="Cam12" serializeAs="String">
                <value>192.168.41.109</value>
            </setting>
            <setting name="Cam13" serializeAs="String">
                <value>192.168.41.110</value>
            </setting>
            <setting name="Cam14" serializeAs="String">
                <value>192.168.41.111</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>abcd1234</value>
            </setting>
            <setting name="ViewLink" serializeAs="String">
                <value>/ch1/sub/av_stream</value>
            </setting>
            <setting name="CaptureLink" serializeAs="String">
                <value>/ISAPI/Streaming/channels/101/picture</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="APILink" serializeAs="String">
                <value>/ISAPI/Event/notification/alertStream</value>
            </setting>
        </GateCamera.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
